<div class="col-md-4">
  <div class="panel panel-info">
    <div class="panel-body">
      <div class="col-md-12 user-post-image">
        <%= image_tag post.image_url %>
      </div>
    </div>
  </div>
</div>
