
<a href="<%= user_path(user) %>">
  <div class="col-md-4 all-users">
    <%= image_tag("img_avatar.png", alt: "User image", class: 'profile-image-thumb') %>
    <b><%= user.email %></b>
  </div>
</a>