body.auth-page { 
  background: #3e3c3c; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.panel-default {
opacity: 0.9;
margin-top:30vh;
}
.form-group.last { margin-bottom:0px; }